.footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 2px solid var(--primary-color);
    width: 100%;
}

.footerDetails{
    padding: 1rem 1.5rem;
}

.footerDetails a:hover{
    border-bottom: 2px solid var(--primary-color);
}

.footerDetails p{
    margin: 0;
}

.footerLabel{
    text-transform: uppercase;
    font-weight: 600;
}